* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

header nav a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--secondary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 150% 0.2em;
  background-position: bottom;
  margin: 0 1.0rem 0.1rem;
  display: inline-block;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.hero-banner {
  background: rgb(68, 88, 120);
  background-image: url('../images/02-hero-bg.jpg'), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.about address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.about p {
  color: var(--tertiary);
  padding: 5px;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.work {
  border-style: solid var(--dark);
  border-width: 1px;
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;

}

.work2 {
  border-style: solid var(--dark);
  border-width: 1px;
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work h3 {
  width: 200px;
  height: fit-content;
  position: left;
  font-size: 150%;
  padding: 10px 20px 5px;
  background: var(--secondary);
  color: var(--dark);
}

.work p {
  width: 200px;
  font-size: 100%;
  padding: 0px 20px 10px;
  background: var(--secondary);
  color: var(--dark);
  text-align: left;
}

.work-image {
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: var(--secondary);
  transition: .5s ease;
  margin: 3px;
}


.card:hover .work-image {
  opacity: 0.3;
}

.card  {
  position: relative;
  border-style: solid var(--dark);
  border-color: var(--secondary);
}

.card2 {
  position: relative;
  border-style: solid var(--dark);
  border-color: var(--secondary);
  max-width: 50%;
  flex-wrap: wrap;
}

.card2:hover .work-image {
  opacity: 0.3;
}

.textbox {
  position: relative;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}
